<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Product</h4>
        <p class="card-description">
          Product info
        </p>
        <form class="forms-sample" method="post" action="{% url 'updateprod' dataid=pro.id %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label > Select Category</label>
            <div >
              <select class="form-control" name="cat">
                <option>{{pro.catname}}</option>
                {% for d in category %}
                <option>{{d.name}}</option>
                {% endfor %}
                
              </select>
            </div>
          </div>

          <div class="form-group" >
            <label for="">Product Name</label>
            <input type="text" class="form-control" id="" placeholder="Name" name="pname" value="{{pro.proname}}">
          </div>
          <div>

          <div>
            <label for="">Description</label>
            <textarea class="form-control" id="" rows="4" placeholder="Description" name="des">{{pro.description}}</textarea>
          </div>
          <div class="form-group" >
            <label for="">price</label>
            <input type="text" class="form-control" id="" placeholder="Price" name="price" value="{{pro.price}}">
          </div>
          <div>
          <div class="form-group">
            <label>File upload</label><br><br>
            <input type="file" name="img"><br><br>
            <img src="{{pro.productimage.url}}"  width="200px" height="150px"><br><br>
                <button class="file-upload-browse btn btn-primary" type="submit">Upload</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> 
  
</body>
</html>
{% endblock %}